@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --white-color: #FAFAFA;
  --background-color: #131417;
  --link-color: #EB5757;
  --arrow-1-color: #F2994A;
  --arrow-2-color: #252830;
  --overlay-color: rgba(0,0,0,0.7);
}

.header .second__item:nth-child(4) .header__link2::before, .header__item:nth-child(2) .header__link1::before {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid var(--arrow-1-color);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.header .third__items::before, .header .second__items::before {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 11px solid var(--arrow-2-color);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

body {
  overflow-x: hidden;
}
@media (max-width: 768px) {
  body.show-before {
    overflow-y: hidden;
  }
  body.show-before::before {
    content: "";
    right: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-color);
    opacity: 1;
  }
}

.container {
  width: 83.1%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
@media (max-width: 768px) {
  .container {
    width: 94.3%;
  }
}
@media (max-width: 375px) {
  .container {
    width: 94.5%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header {
  position: relative;
  background-color: var(--background-color);
  z-index: 2;
}
.header__logo .header__img {
  width: 46px;
  height: 46px;
}
.header .burger-icon {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: none;
}
@media (max-width: 768px) {
  .header .burger-icon {
    display: block;
    width: 22px;
    height: 14px;
    background-image: url(../img/Vector.svg);
    background-size: contain;
    background-color: var(--background-color);
    cursor: pointer;
  }
}
.header input[type=checkbox] {
  display: none;
  cursor: pointer;
}
.header input[type=checkbox]:checked ~ .header__nav {
  right: 0;
  -webkit-transition: right 1s ease;
  transition: right 1s ease;
}
.header__nav {
  width: 56.66%;
}
@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    width: 374px;
    height: 100vh;
    top: 80px;
    right: -374px;
    background-color: var(--background-color);
  }
}
@media (max-width: 375px) {
  .header__nav {
    width: 100vw;
  }
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
@media (max-width: 768px) {
  .header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 768px) {
  .header__item {
    margin-bottom: 2px;
    background-color: var(--arrow-2-color);
  }
}
.header__item .header__link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  height: 100%;
}
@media (min-width: 769px) {
  .header__item .header__link1:hover {
    color: var(--link-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (max-width: 768px) {
  .header__item .header__link1 {
    height: 64px;
    padding-left: 20px;
  }
  .header__item .header__link1:hover {
    background-color: var(--background-color);
  }
}
.header__item:nth-child(2) {
  position: relative;
}
@media (min-width: 769px) {
  .header__item:nth-child(2):hover .second__items {
    display: block;
  }
  .header__item:nth-child(2):hover .header__link1::before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media (max-width: 768px) {
  .header__item:nth-child(2) {
    background-color: transparent;
  }
}
@media (max-width: 768px) {
  .header__item:nth-child(2) .arrow-icon1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 64px;
    cursor: pointer;
  }
}
.header__item:nth-child(2) #arrow-toggle1 {
  display: none;
}
.header__item:nth-child(2) #arrow-toggle1:checked ~ .second__items {
  display: block;
}
.header__item:nth-child(2) #arrow-toggle1:checked ~ .header__link1::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header__item:nth-child(2) .header__link1::before {
  content: "";
  top: 18px;
  right: -20px;
}
@media (max-width: 768px) {
  .header__item:nth-child(2) .header__link1::before {
    top: 28px;
    right: 190px;
  }
}
@media (max-width: 320px) {
  .header__item:nth-child(2) .header__link1::before {
    top: 30px;
    right: 140px;
  }
}
.header .second__items {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  padding-top: 14.5%;
  width: 320px;
}
.header .second__items::before {
  content: "";
  top: 10px;
  left: 40px;
}
@media (max-width: 768px) {
  .header .second__items::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .second__items {
    position: static;
    width: 100%;
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .header .second__item {
    margin-bottom: 2px;
  }
}
.header .second__item .header__link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding-left: 4%;
  background-color: var(--arrow-2-color);
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
}
.header .second__item .header__link2:hover {
  background-color: var(--background-color);
}
@media (max-width: 768px) {
  .header .second__item .header__link2 {
    height: 64px;
    padding-left: 20px;
  }
}
.header .second__item:nth-child(4) {
  position: relative;
}
@media (min-width: 769px) {
  .header .second__item:nth-child(4):hover .third__items {
    display: block;
  }
  .header .second__item:nth-child(4):hover .header__link2::before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media (max-width: 768px) {
  .header .second__item:nth-child(4) .arrow-icon2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 64px;
    cursor: pointer;
  }
}
.header .second__item:nth-child(4) input[type=checkbox] {
  display: none;
}
.header .second__item:nth-child(4) input[type=checkbox]:checked ~ .third__items {
  display: block;
}
.header .second__item:nth-child(4) input[type=checkbox]:checked ~ .header__link2::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .second__item:nth-child(4) .header__link2 {
  padding-top: 4%;
  padding-right: 12%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header .second__item:nth-child(4) .header__link2::before {
  content: "";
  top: 18px;
  right: 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media (max-width: 768px) {
  .header .second__item:nth-child(4) .header__link2::before {
    top: 28px;
    right: 14px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media (max-width: 768px) {
  .header .second__item:nth-child(4) .header__link2 {
    padding-top: 6%;
    padding-right: 0;
    background-color: transparent;
  }
}
@media (max-width: 320px) {
  .header .second__item:nth-child(4) .header__link2 {
    padding-top: 7.5%;
    padding-right: 11%;
  }
}
.header .third__items {
  display: none;
  position: absolute;
  width: 195px;
  padding-left: 6%;
  top: -39px;
  right: -193px;
}
.header .third__items::before {
  content: "";
  top: 53px;
  left: 4px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media (max-width: 768px) {
  .header .third__items::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .third__items {
    position: static;
    width: 100%;
    padding-left: 0;
    top: 64px;
    right: 0;
  }
}
.header .third__item {
  height: 40px;
}
@media (max-width: 768px) {
  .header .third__item {
    height: 64px;
    margin-bottom: 2px;
  }
}
.header .third__item .header__link3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 8%;
  background-color: var(--arrow-2-color);
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
}
.header .third__item .header__link3:hover {
  background-color: var(--background-color);
}
@media (max-width: 768px) {
  .header .third__item .header__link3 {
    padding-left: 20px;
  }
}
@media (min-width: 769px) {
  .header .third__item .link3-1 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}
@media (min-width: 769px) {
  .header .third__item .link3-2 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.header__contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contact::before {
  content: url("../img/Frame.svg");
  margin-right: -35px;
}
@media (max-width: 375px) {
  .header__contact {
    margin-left: 69%;
  }
}
@media (max-width: 320px) {
  .header__contact {
    margin-left: 63%;
  }
}
.header__contact .header__link4 {
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  font-weight: 500;
  font-size: 18px;
  width: 220px;
  padding-left: 45px;
}
@media (max-width: 375px) {
  .header__contact .header__link4 {
    width: 50px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    color: var(--white-color);
    font-weight: 500;
    font-size: 0;
  }
}

.main__alpaca {
  width: 100%;
  height: 100vh;
  background-image: url(../img/alpaca.jpg);
  background-position: 0 0;
  background-size: cover;
}