@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --white-color: #FAFAFA;
    --background-color: #131417;
    --link-color: #EB5757;
    --arrow-1-color: #F2994A;
    --arrow-2-color: #252830;
    --overlay-color: rgba(0,0,0,0.7);
}

@mixin font ($c, $fw, $fs) {
    font-family: 'Roboto', sans-serif;
    color: $c; 
    font-weight: $fw;
    font-size: $fs;
}

%arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid var(--arrow-1-color);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

%arrow2 {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 11px solid var(--arrow-2-color); 
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}

body {
    overflow-x: hidden;   
    @media (max-width: 768px) {
        &.show-before {
            overflow-y: hidden;
        }
        &.show-before::before {
            content: "";
            right: 0;
            top: 0;
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: var(--overlay-color);
            opacity: 1;
        }
    }
}

.container {
    width: 83.1%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    @media (max-width: 768px) {
        width: 94.3%;
    }
    @media (max-width: 375px) {
        width: 94.5%;
        justify-content: flex-start;
    }
}

.header {
    position: relative;
    background-color: var(--background-color);
    z-index: 2;

    &__logo {
        .header__img {
            width: 46px;
            height: 46px;
        }
    }

    .burger-icon {
        order: 4;
        display: none;
            @media (max-width: 768px) {
                display: block;
                width: 22px;
                height: 14px;
                background-image: url(../img/Vector.svg);
                background-size: contain;
                background-color: var(--background-color);
                cursor: pointer;
            }
    }
    input[type="checkbox"] {
        display: none;
        cursor: pointer;
        &:checked ~ .header__nav{
            right: 0;
            transition: right 1s ease;
        }
    }
    
    &__nav {
        width: 56.66%; 
        @media (max-width: 768px) {
            position: absolute;
            width: 374px;
            height: 100vh;
            top: 80px;
            right: -374px;
            background-color: var(--background-color);
        }
        @media (max-width: 375px) {
            width: 100vw;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 40px;
        @media (max-width: 768px) {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }

    &__item {
        @media (max-width: 768px) {
            margin-bottom: 2px;
            background-color: var(--arrow-2-color);
        }
        .header__link1 {
            display: flex;
            align-items: center;
            @include font(var(--white-color), 400, 18px); 
            height: 100%;
            @media (min-width: 769px) {
                &:hover {
                    color: var(--link-color);
                    transition: 0.5s; 
                }
            }
            @media (max-width: 768px) {
                height: 64px;
                padding-left: 20px;
                &:hover {
                    background-color: var(--background-color);
                }
            } 
        }
    }
    
    &__item:nth-child(2) {
        position: relative;
        @media (min-width: 769px) {
            &:hover {
                .second__items {
                    display: block; 
                }
                .header__link1::before {
                    transform: rotate(180deg);
                }
            }
        }
        @media (max-width: 768px) {
            background-color: transparent;
        }
        .arrow-icon1 {
            @media (max-width: 768px) {
                position: absolute;
                top: 0;
                width: 100%;
                height: 64px;
                cursor: pointer;
            }
        }
        #arrow-toggle1 {
            display: none;
            &:checked ~ .second__items{
                display: block;
            }
            &:checked ~ .header__link1::before {
                transform: rotate(180deg);
            }
        }
        .header__link1 {
            &::before {
                content: "";
                @extend %arrow;
                top: 18px;
                right: -20px;
                @media (max-width: 768px) {
                    top: 28px;
                    right: 190px;
                }
                @media (max-width: 320px) {
                    top: 30px;
                    right: 140px;
                }
            }
        }
    }

    .second__items {
        display: none;
        position: absolute;
        background-color: var(--background-color);
        padding-top: 14.5%;
        width: 320px;
        &::before {
            content: "";
            @extend %arrow2;
            top: 10px;
            left: 40px;
            @media (max-width: 768px) {
                display: none;
            }
        }
        @media (max-width: 768px) {
            position: static;
            width: 100%;
            padding-top: 0;
        }
    }

    .second__item {
        @media (max-width: 768px) {
            margin-bottom: 2px;
        }
        .header__link2 {
            display: flex;
            align-items: center;
            height: 40px;
            padding-left: 4%;
            background-color: var(--arrow-2-color);
            @include font(var(--white-color), 400, 16px);
            &:hover {
                background-color: var(--background-color);
            }
            @media (max-width: 768px) {
                height: 64px;
                padding-left: 20px;
            }
        }
    }

    .second__item:nth-child(4) {
        position: relative;
        @media (min-width: 769px) {
             &:hover {
                .third__items {
                    display: block;
                }
                .header__link2::before {
                    transform: rotate(90deg);
                }
            }
        }
        .arrow-icon2 {
            @media (max-width: 768px) {
                position: absolute;
                top: 0;
                width: 100%;
                height: 64px;
                cursor: pointer;
            }
        }
        input[type="checkbox"] {
            display: none;
            
            &:checked ~ .third__items {
                display: block;
            }
            &:checked ~ .header__link2::before {
                transform: rotate(180deg);
            }
        }
        .header__link2 {
            padding-top: 4%;
            padding-right: 12%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &::before {
                content: "";
                @extend %arrow;
                top: 18px;
                right: 16px;
                transform: rotate(-90deg);
                @media (max-width: 768px) {
                    top: 28px;
                    right: 14px;
                    transform: rotate(0deg);
                }
            }
            @media (max-width: 768px) {
                padding-top: 6%;
                padding-right: 0;
                background-color: transparent;
            }
            @media (max-width: 320px) {
                padding-top: 7.5%;
                padding-right: 11%;
            }
        }
    }

    .third__items {
        display: none;
        position: absolute;
        width: 195px;
        padding-left: 6%;
        top: -39px;
        right: -193px;
        &::before {
            content: "";
            @extend %arrow2;
            top: 53px;
            left: 4px;
            transform: rotate(-90deg);
            @media (max-width: 768px) {
                display: none;
            }
        }
        @media (max-width: 768px) {
            position: static;
            width: 100%;
            padding-left: 0;
            top: 64px;
            right: 0;
        }
    }

    .third__item {
        height: 40px;
        @media (max-width: 768px) {
            height: 64px;
            margin-bottom: 2px;
        }
        .header__link3 {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding-left: 8%;
            background-color: var(--arrow-2-color);
            @include font( var(--white-color), 400, 16px);
            &:hover {
                background-color: var(--background-color);
            }
            @media (max-width: 768px) {
                padding-left: 20px;
            }
        }
        .link3-1 {
            @media (min-width: 769px) {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
        .link3-2 {
            @media (min-width: 769px) {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }

    &__contact {
        position: relative;
        display: flex;
        align-items: center;
        &::before {
            content: url("../img/Frame.svg");
            margin-right: -35px;
        }
        @media (max-width: 375px) {
            margin-left: 69%;
        }
        @media (max-width: 320px) {
            margin-left: 63%;
        }
        .header__link4 {
            @include font(var(--white-color), 500, 18px);
            width: 220px;
            padding-left: 45px;
            @media (max-width: 375px) {
                width: 50px;
                height: 50px;
                @include font(var(--white-color), 500, 0);
            }
        }
    }
}

.main {
    &__alpaca {
        width: 100%;
        height: 100vh;
        background-image: url(../img/alpaca.jpg);
        background-position: 0 0;
        background-size: cover;
    }
}